<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizhixin.integrated.mapper.MeasurePointsMapper">
    <select id="getDeviceno" resultType="com.huizhixin.integrated.entity.MeasurePoints">
     select * from device_measure_points t1 where t1.point_no=#{s}
</select>
</mapper>