<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huizhixin.integrated.mapper.MonitorAlarmMapper">
    <select id="getChildCompany" resultType="java.lang.String">
     select getChildCompany(#{companyid})
</select>

    <select id="getCompanyList" resultType="com.huizhixin.integrated.entity.result.CompanyListBean">
    select t1.id `value`,t1.depart_name text from sys_depart t1 where find_in_set(t1.id,getChildCompany(#{companyid}));
    </select>

</mapper>